<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>관리자 페이지</title>
</head>
<body>
	<nav th:replace="~{navigation :: navi}"></nav>
	<h2>관리자 페이지</h2>

	<table>
		<thead>
			<tr>
				<th>신고 당한 유저</th>
				<th>신고 한 유저</th>
				<th>신고 사유</th>
				<th>무죄</th>
				<th>유죄</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>쟤</td>
				<td>나</td>
				<td>그냥</td>
				<td>O</td>
				<td>X</td>
			</tr>
			<tr>
				<td>쟤</td>
				<td>나</td>
				<td>그냥</td>
				<td>O</td>
				<td>X</td>
			</tr>
		</tbody>
	
	</table>

</body>
</html>