<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cround</title>
</head>
<body>

	<h2>Cround is</h2>
	<div>Chat + Ground</div>
	
	<h3>세팅 관련</h3>
	
	<h4>Java</h4>
	<div>버전 17을 사용</div>
	
	<h4>DB</h4>
	<div>h2 데이터베이스의 cgpt 라는 db명을 사용</div>
	
	<h3>thymeleaf 관련</h3>
	<h4>체감상 정의</h4>
	<div>front와 back단의 데이터를 주고받기 용이한 라이브러리</div>
	
	<h4>세팅</h4>
	<div>
	<p>html태그 안에 xmlns:th="http://www.thymeleaf.org" 설정을 추가해주어야함</p>
	<p>하지만 어째서인지 그냥 적용되는중</p>
	
	</div>
	
	
	<h4>쓰는법</h4>
	<div>
		<p>태그에 th:text="${key}"를 입력하면</p>
		<p th:text="${key}"></p>
		<p>가 출력된다</p>
	</div>
	<div>
		<p>그 외 여러가지 함수도 있음</p>
		<p>if문, for문과 여러가지 내장 함수가 즐비함 </p>
	</div>
	
</body>
</html>