<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>로그인 페이지</title>
</head>
<body>
	<nav th:replace="~{navigation :: navi}"></nav>
	<h2>로그인 페이지</h2>
	
	<form th:action="@{/user/login}" method="post">
		<div>
			<label>
				<input type="text" name="username">
			</label>
		</div>
		<div>
			<label>
				<input type="password" name="password">
			</label>
		</div>
		<button type="submit">로그인</button>
		<button type="button" onclick="location.href='/user/signup'">회원가입</button>
	</form>
</body>
</html>