<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"> 
	<!-- xmlns:sec="http://www.springframework.org/security/tags"> -->
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>메인 페이지</title>

</head>
<body>

	<nav th:replace="~{navigation :: navi}"></nav>
	<h2>메인 페이지</h2>

	<div class="chatLog">???: 이잉 !!!!단단묵직! bc</div>
	<div class="chatLog">???: 이잉 !!!!단단묵직! a</div>

	<div sec:authorize="isAuthenticated()">
		<input placeholder="채팅 입력 창" name="chatInput">
		<button>입력</button>
	</div>

	<div sec:authorize="isAnonymous()">
		<input placeholder="먼저 로그인을 해주세요">
		<button type="button" onclick="location.href='/user/login'">로그인</button>
	</div>
	
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/js/Main.js"></script>

</body>
</html>