<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"> 
	
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>메인 페이지</title>

</head>
<body>

	<nav th:replace="~{navigation :: navi}"></nav>
	<h2>메인 페이지</h2>

	<!-- <div id="chattingLog"></div> -->
	<textarea rows="8" cols="80" id="chattingLog" readonly="readonly"></textarea>
	

	<div sec:authorize="isAuthenticated()">
		<input placeholder="채팅 입력 창" id="chatInput" name="chatInput">
		<button onclick="send()">입력</button>
	</div>

	<div sec:authorize="isAnonymous()">
		<input placeholder="먼저 로그인을 해주세요">
		<button type="button" onclick="location.href='/user/login'">로그인하러 가기</button>
	</div>
	
	<div style="overflow: auto; width: 500px; height: 150px;">
	
		<a href="#">a태그1</a> <span> : span태그1</span><button>버튼1</button><br>
		<a href="#">a태그2</a> <span> : span태그2</span><button>버튼2</button><br>
		<a href="#">a태그3</a> <span> : span태그3</span><button>버튼3</button><br>
		<a href="#">a태그4</a> <span> : span태그4</span><button>버튼4</button><br>
		<a href="#">a태그5</a> <span> : span태그5</span><button>버튼5</button><br>
		<a href="#">a태그6</a> <span> : span태그6</span><button>버튼6</button><br>
		<a href="#">a태그7</a> <span> : span태그7</span><button>버튼7</button><br>
		<a href="#">a태그8</a> <span> : span태그8</span><button>버튼8</button><br>
	
	</div>
	
	<div oncontextmenu="homzzang()">

	  <p>홈짱닷컴 Homzzang.com</p>
	
	</div>
	
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/js/Main.js"></script>

</body>
</html>